.phoneInputHeading {
  margin: 0px 5px 0px 0px !important;
}

.submitBtn {
  background-color: #248700 !important;
  color: #ffff;
  margin-top: 5px;
  text-transform: none !important;
  border-radius: 50px !important;
  padding: 10px 40px !important;
}
